extends layout

block extraheader
    link(rel='stylesheet', href='/stylesheets/game.css')

block content
    .row.uniform#mainContainer
        div(class='3u 12u$(small)')#range
            header
                h2 Willpower
                
            #slider
                ul#sliderButtons.actions

            #bid
                a(href="#").button.special.big#bidButton Bid
            div(class='3u 12u$(small)')#section2
                &nbsp;

    script(src="/socket.io/socket.io.js",charset="utf-8")
    script(src="/lib/cookies.js")
    script(src="/lib/chance.js")
    script(src="/js/common.js")
    script(src="/js/player.js")
    script(src="/js/slider.js")