extends layout

block extraheader
    link(rel='stylesheet', href='/stylesheets/game.css')

block content
    section#banner.gameStart
        #title
            h2 Welcome
        br
        input(type='text')#name
        
    #main.container
      .row#buttons
        div(class="4u 0u$(small)") &nbsp;
        div(class="4u 12u$(small)")
          a(href="#").button.special.big#userStart Start
        div(class="4u 0u$(small)") &nbsp;
        
        #toast
          h1 Muahahah
          p.
            test
            test2
          a.button(href="#") Close

    .row.uniform#rangeContainer
        div(class='3u 12u$(small)')#range
            header
                h2 Willpower
                
            #slider
                ul#sliderButtons.actions

            #bid
                a(href="#").button.special.big#bidButton Bid
            div(class='3u 12u$(small)')#section2
                &nbsp;
                

    script(src="/socket.io/socket.io.js",charset="utf-8")
    script(src="/lib/cookies.js")
    script(src="/lib/chance.js")
    script(src="/js/common.js")
    script(src="/js/player.js")
    script(src="/js/game.js")
    script(src="/js/slider.js")
