<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GM</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
      <script src="/lib/qrcode.min.js" charset="utf-8"></script>
      <script src="/lib/cookies.js" charset="utf-8"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="/stylesheets/gm.css">
  </head>
  <body>
    <header id="header">
      <h1>EVERYONE IS JOHN</h1>
    </header>
    <!-- TOP INFO -->
    <section id="banner">
      <div class="row">
        <section class="4u 12u$(medium)">
          &nbsp;
        </section>
        <section class="4u 12u$(medium)">
          <h2 id="gameHeader"><span id="gameName"></span></h2>
          <div id="playerLink"></div>
          <ul class="actions">
            <li><a href="#" class="button special" id="beginTest">Test For Control!</a></li>
            <li><a href="#" class="button" id="sleep">+1 Willpower (All)</a></li>
          </ul>
        </section>
        <section class="4u 12u$(medium)">
          <h3>QR Code</h3>
          <div id="playerQRCode"></div>
        </section>
      </div>
    </section>
    <!-- PLAYER FIELD -->
    <span id="playerList">
    </span>
    <script type="text/babel">
      var Player = React.createClass({
        updateWillpower: function(direction) {
          socket.emit("willpowerOverride", {
            id: this.props.player.id,
            amount: direction
          });
        },
        setObsessionState: function(state) {
          if(this.props.player.obsession == "") return;
          socket.emit("setObsessionState", {
            id: this.props.player.id,
            state: state
          });
        },
        setSkillState: function(id, state) {
          socket.emit("setSkillState", {
            id: this.props.player.id,
            state: state,
            skillId: id
          });
        },
        setObsessionWorth: function() {
          var worth = document.getElementById("obsession-" + this.props.player.id).value;
          socket.emit("setObsessionWorth", {
            id: this.props.player.id,
            amount: Number(worth)
          });
        },
        completeObsession: function() {
          socket.emit("obsessionCompletion", {
            id: this.props.player.id
          });
        },
        addPoint: function(amount) {
          socket.emit("addPoint", {
            id: this.props.player.id,
            amount: amount
          });
        },
        render: function() {
          return (
            <div className="player unselectable" data-user-id={this.props.player.id}>
              <h1>{this.props.player.username}</h1>
              <h2>{this.props.player.willpower}</h2>
              <ul className="actions willpowerControls">
                <li><a href="#" className="button willpowerControl" onClick={this.updateWillpower.bind(this, -1)}>-1</a></li>
                <li><a href="#" className="button willpowerControl" onClick={this.updateWillpower.bind(this, +1)}>+1</a></li>
              </ul>
              <div className="row uniform">
                <div className="12u score">
                  <h3>Points: <span>{this.props.player.totalScore}</span></h3>&ensp;
                  <ul className="actions">
                    <li className="add" onClick={this.addPoint.bind(this, +1)}><i className="fa fa-plus"></i></li>
                    <li className="minus" onClick={this.addPoint.bind(this, -1)}><i className="fa fa-minus"></i></li>
                  </ul>
                </div>
              </div>
              <div className="userInfo">
                <div className={"obsessionInfo " + (this.props.player.obsession == "" ? "hide" : "")}>
                  <h4 className="obsession">Obsession: {this.props.player.obsession}&ensp;</h4>
                  <div className="row unifrom obsessionOptions">
                    <div className="4u">
                      <i className={"fa fa-check approve " + (this.props.player.obsessionApproved ? "true" : "")} onClick={this.setObsessionState.bind(this, true)}></i>
                    </div>
                    <div className="4u">
                       <i className="fa fa-times deny" onClick={this.setObsessionState.bind(this, false)}></i>
                    </div>
                    <div className="4u">
                      <select name="cat" id={"obsession-" + this.props.player.id} onChange={this.setObsessionWorth.bind(this)}>
                        <option value="0" selected={this.props.player.obsessionWorth == 0 ? "true" : ""}>--</option>
                        <option value="1" selected={this.props.player.obsessionWorth == 1 ? "true" : ""}>1</option>
                        <option value="2" selected={this.props.player.obsessionWorth == 2 ? "true" : ""}>2</option>
                        <option value="3" selected={this.props.player.obsessionWorth == 3 ? "true" : ""}>3</option>
                      </select>
                    </div>
                  </div>
                  <div className="row uniform obsessionComplete">
                    <div className="12u">
                      <a href="#" onClick={this.completeObsession.bind()} className="button special">Complete Obsession</a>
                    </div>
                  </div>
                </div>
                <ul className="alt">
                  {
                    this.props.player.skills.map(function (skill, index) {
                      if(typeof skill === "undefined" || skill == null || skill == "") return;
                      return (
                        <li>
                        {skill}
                        <div className="approveDeny">
                          <span>
                            <i className={"fa fa-check approve " + (this.props.player.lockedSkills[index] ? "true" : "")} onClick={this.setSkillState.bind(this, index, true)}></i>
                            <i className="fa fa-times deny" onClick={this.setSkillState.bind(this, index, false)}></i>
                          </span>
                        </div>
                        </li>
                      )
                    }, this)
                  }
                </ul>
                
              </div>
            </div>
          );
        }
      });

      var PlayerList = React.createClass({
        getInitialState: function() {
          return {
            players: []
          }
        },
        componentDidMount: function() {
          var parent = this;
          socket.on("players.update", function(data) {
            console.log(data);
            parent.setState({players: data});
          });
        },
        render: function() {
          return (
            <div className="row players">
              {
                this.state.players.map(function(player) {
                  return (
                    <section className="3u 4u$(medium) 12u$(small)"  data-user-name={player.username}>
                      <Player player={player}/>
                    </section>
                  );
                })
              }
           </div>
          );
        }
      });

      ReactDOM.render(<PlayerList />, document.getElementById("playerList"));
    </script>
    
    <script type="text/babel">
      var PlayerLink = React.createClass({
        getInitialState: function() {
          return({
            link: "http://" + window.location.host + "/game/" + window.roomId
          })
        },
        componentDidMount: function() {
          new QRCode(document.getElementById("playerQRCode"), this.state.link);
        },
        render: function() {
          return (
            <div>
              <br />
              <h3><a target="_blank" href={this.state.link}>{this.state.link}</a></h3>
            </div>
          );
        }
      });
      ReactDOM.render(<PlayerLink />, document.getElementById("playerLink"));
    </script>

    <div id="winner"></div>

    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/common.js" charset="utf-8"></script>
    <script src="/js/gm.js" charset="utf-8"></script>
    <script src="/react/GMPage.js" charset="utf-8"></script>
    
    <script src="/lib/skel.min.js"></script>
    <script src="/lib/main.js"></script>
  </body>
</html>
