<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GM</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
      <script src="/lib/qrcode.min.js" charset="utf-8"></script>
      <script src="/lib/cookies.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>JOHN</h1>

    <script type="text/babel">
      var Player = React.createClass({
        render: function() {
          return (
            <ul>
              <label>{this.props.player.username}</label>
              <li>Willpower: {this.props.player.willpower}</li>
            </ul>
          );
        }
      });

      var PlayerList = React.createClass({
        getInitialState: function() {
          return {
            players: []
          }
        },
        componentDidMount: function() {
          var parent = this;
          socket.on("players.update", function(data) {
            console.log(data);
            parent.setState({players: data});
          });
        },
        render: function() {
          return (
            <ul>
              {
                this.state.players.map(function(player) {
                  return (
                    <li key={player.id}><Player player={player} /></li>
                  );
                })
              }
            </ul>
          );
        }
      });

      ReactDOM.render(<PlayerList />, document.getElementById("playerList"));
    </script>

    <div id="playerList"></div>
    <a id="beginTest" href="javascript:{}">TEST FOR CONTROL!</a>
    <a id="sleep" href="javascript:{}">Add 1 willpower to all</a>

    <div id="playerLink"></div>

    <script type="text/babel">
      var PlayerLink = React.createClass({
        getInitialState: function() {
          return({
            link: "http://" + window.location.host + "/game/" + window.roomId
          })
        },
        componentDidMount: function() {
          new QRCode(document.getElementById("playerQRCode"), this.state.link);
        },
        render: function() {
          return (
            <div>
              <a href={this.state.link}>{this.state.link}</a>
              <div style={{padding: "1em"}} id="playerQRCode"></div>
            </div>
          );
        }
      });
      ReactDOM.render(<PlayerLink />, document.getElementById("playerLink"));
    </script>

    <div id="winner"></div>

    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/common.js" charset="utf-8"></script>
    <script src="/js/gm.js" charset="utf-8"></script>
    <script src="/react/GMPage.js" charset="utf-8"></script>
  </body>
</html>
