doctype html
head
  meta(charset="utf-8")
  title GM
body
  h1JOHN

  a(id="beginTest" href="javascript:{}") TEST FOR CONTROL!

  script(src="/socket.io/socket.io.js" charset="utf-8")
  script(src="/lib/cookies.js" charset="utf-8")
  script(src="/js/common.js" charset="utf-8")
  script(src="/js/gm.js" charset="utf-8")
