<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
     <!--<link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/game.css">-->
    <link rel="stylesheet" href="/stylesheets/reactgame.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>-->
  </head>

  <body>
    <div id="content"></div>


    </div>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <!-- Libraries -->
    <script src="/lib/cookies.js"></script>
    <script src="/lib/chance.js"></script>
    <!-- Shared Scripts -->
    <script src="/js/common.js"></script>
    <!-- Scripts -->
    <script src="/js/player.js"></script>
    <!-- Components -->
    <script type="text/javascript" src="/react/WillpowerSlider.js"></script>
  </body>
</html>
