<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/game.css">-->
    <link rel="stylesheet" href="/stylesheets/reactgame.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <!-- http://kolyaventuri.com/secret.txt -->
  </head>

  <body>
    <header id="header">
      <h1>EVERYONE IS JOHN</h1>
    </header>
    <div id="main">
      <div class="row 200% uniform">
        <div class="6u 12u$(small)">
          <div id="slider"></div>
        </div>
        <div class="6u 12u$(small) userContainer">
          <div class="row uniform userPanel">
            <h1>Control</h1>
            <div class="12u">
              <div class="usernameBox">
                <p id="username"></p>
              </div>
             <div id="player"></div>
            </div>
            <div class="12u obsession">
            
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <!-- Libraries -->
    <script src="/lib/cookies.js"></script>
    <script src="/lib/chance.js"></script>
    <script src="/lib/skel.min.js"></script>
    <script src="/lib/main.js"></script>
    <!-- Shared Scripts -->
    <script src="/js/common.js"></script>
    <!-- Scripts -->
    <script src="/js/player.js"></script>
    <!-- Components -->
    <script type="text/javascript" src="/react/WillpowerSlider.js"></script>
    <script type="text/javascript" src="/react/UserData.js"></script>
    <script type="text/javascript" src="/react/Player.js"></script>
  </body>
</html>
