<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/game.css">-->
    <link rel="stylesheet" href="/stylesheets/reactgame.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>
    <!-- http://kolyaventuri.com/secret.txt -->
  </head>

  <body>
    <header id="header">
      <h1>EVERYONE IS JOHN</h1>
    </header>
    <div id="main">
      <div class="row 200% uniform">
        <div class="6u 12u$(small)">
          <div id="slider"></div>
        </div>
        <div class="6u 12u$(small) userContainer">
          <div class="row uniform userPanel">
            <h1>Control</h1>
            <div class="12u">
              <div class="usernameBox">
                <p id="username"></p>
              </div>
             <div id="player"></div>
            </div>
            <div class="12u obsession">
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/babel">
      var UserData = React.createClass({
        
        onChange: function(event) {
          var data = {};
          data[event.target.getAttribute('data-id')] = event.target.value;
          this.props.updateState(data);
        },
        onSkillChange: function(event) {
          this.props.updateSkill(event.target.getAttribute('data-skillid'), event.target.value);
        },
        setSkill: function(event) {
          socket.emit('setSkill', {
            skill: event.target.value,
            id: Number(event.target.getAttribute('data-skillid'))
          });
        },
        setObsession: function(event) {
          var obsession = event.target.value;
          socket.emit('setObsession', obsession);
        },
        render: function() {
          return (
            <div id="playerInfo">
              <h2 id="points">You have <span className="bolder">{this.props.player.totalScore}</span> points</h2>
              <div id="obsession">
                <h2>Obsession {
                  this.props.player.obsessionWorth > 0 ? "(" + this.props.player.obsessionWorth + " Points)" : ""
                }</h2>
                <input className={!this.props.player.obsessionApproved ? "" : "hidden"} type="text" placeholder="You must have an obsession to play!" data-id="obsession" onBlur={this.setObsession} value={this.props.player.obsession} onChange={this.onChange} />
                <h3 className={this.props.player.obsessionApproved ? "" : "hidden"}>{this.props.player.obsession}</h3>
              </div>
              <div id="skills">
                <h2>Skills</h2>
                <ol>
                  {
                    this.props.player.skills.map(function(skill, index) {
                      return (
                         <li>
                            <input className={!this.props.player.lockedSkills[index] ? "" : "hidden"} type="text" placeholder={"Skill " + (index + 1)} data-skillid={index} onBlur={this.setSkill} value={skill} onChange={this.onSkillChange} />
                            <h3 className={this.props.player.lockedSkills[index] ? "" : "hidden"}>{this.props.player.skills[index]}</h3>
                        </li>
                      );
                    }, this)
                    
                  }
                 
                </ol>
              </div>
            </div>
          );
        }
      });
      
      var Player = React.createClass({
        getInitialState: function() {
          return {
            player: {
              skills: []
            }
          }
        },
        componentDidMount: function() {
          var parent = this;
          socket.on("yourPlayer.update", function(data) {
            console.log(data);
            parent.setState({player: data});
          });
        },
        updateState: function(data) {
          var temp = Object.assign({}, this.state.player);
          var keys = Object.keys(data);
          for(var i = 0; i < keys.length; i++) {
            temp[keys[i]] = data[keys[i]];
          }
          
          this.setState({player: temp});
        },
        updateSkill: function(id, skill) {
          var temp = Object.assign({}, this.state.player);
          temp.skills[id] = skill;
          this.setState({player: temp});
        },
        render: function() {
          return (
            <div className="userInfo">
              <UserData player={this.state.player} updateState={this.updateState} updateSkill={this.updateSkill} />
            </div>
          );
        }
      });
      ReactDOM.render(<Player />, document.getElementById("player"));
    </script>

    </div>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <!-- Libraries -->
    <script src="/lib/cookies.js"></script>
    <script src="/lib/chance.js"></script>
    <script src="/lib/skel.min.js"></script>
    <script src="/lib/main.js"></script>
    <!-- Shared Scripts -->
    <script src="/js/common.js"></script>
    <!-- Scripts -->
    <script src="/js/player.js"></script>
    <!-- Components -->
    <script type="text/javascript" src="/react/WillpowerSlider.js"></script>
  </body>
</html>
