/* CHAT RELATED THINGS */
#chat {
  position:fixed;
  bottom:0;
  right:0;
}

#chat .window {
  margin-right: 1.5em;
  display:inline-block;
}

#chat .window .topBar {
  width:16em;
  padding:0.25em;
  
  background:#DDD;
  
  border-radius:3px 3px 0 0;
  border: 1px solid #CCC;
  border-bottom: 1px solid #999;
 
  cursor:pointer;
  
  //overflow:hidden;
  //text-overflow:ellipsis;
}

#chat .window .topBar h1 {
  margin:0;
  
}

#chat .window .chatarea {
  position:relative;
  
  height:18em;
  width:100%;
  background:white;
  
  border: 1px solid #CCC;
  border-bottom:none;
  border-top:none;
  
  max-width:16em;
}

#chat .window .chatarea .textArea {
  position:absolute;
  bottom:0;
  left:0;
  
  border-top: 1px solid #BBB;
  width:100%;
  height:2em;
}

#chat .window .chatarea .textArea input[type='text'] {
  height: 100%;
  border-radius: 0;
  border:0;
  //border-left: 1px solid #CCC;
  //border-right: 1px solid #CCC;
  background:#FFF;
  font-size: 0.8em;
}

#chat .window .chatarea.hidden { display:none; }

#chat .window .chatarea .messages {
  padding-bottom: 2em;
  height: 100%; 
}

#chat .window .chatarea .messages ul {
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
}

#chat .window .chatarea .messages ul li {
  padding: 0.4em 0.5em 0.4em 0.5em;
  border-bottom: 1px solid #EEE;
}

#chat .window .chatarea .messages ul li hr {
  margin: 0;
  width: 90%;
}

#chat .window .chatarea .messages ul li[data-isuser='true'] {
  text-align:right;
  background:#AFE1FF;
}

.right { float: right; }

.hidden { display: none; }