
html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: Arial; /* VT323 */
}
#mainContainer { margin:0;  height:100%;}

#range {
	background:#FFF;
	height:100%;
	z-index:1;
	padding-top: 0;
	position:fixed;
    top:0;
    left:0;
  transform: translateX(-100%);
}

#range header h2 {
	font-size:3em;
	margin:0 0 0.25em 0;
}


#section2 {
	background:tramsparent;
	height:100%;
}

#range #bid {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 1em;
}

#range #bid #bidButton {
	width:75%;
}

#range #slider {
	width:75%;
	height:75%;
	background:transparent;
	position:absolute;
	top:7.5em; /* 6.5em */
	left:50%;
	transform:translateX(-50%);
}

#range #sliderButtons {
	height:100%;
}

#range #sliderButtons li {
	padding:0;
	width: 100%;
}

#range #sliderButtons li a {
	border-radius: 0;
	min-width:100%;
	min-height:100%;
	max-height:100%;
	font-size: 2em; /* 3em */
	//font-weight:normal;
    line-height: 2em; /* 1em */
}

#name {
  font-size: 2em;
  height: auto;
  color: #666;
}

#userStart {
  font-family: "VT323";
}

@media (min-width: 550px) {
	#range {
		box-shadow: 2px 0px 5px rgba(0,0,0,0.25);
	}

	#range header {
		position:absolute;
		top:2.25em;
	}

}

@media (max-width: 550px) {
  #name {
    font-size: 1.5em;
    width: 85%;
  }
  
	#range header {
		text-align: center;
		position: absolute;
		left: 0;
		width: 100%;
	}

	#range #slider {
		top:10em; /* 8.5em */
		height:55%;
	}

	#range #sliderButtons li a {
		font-size: 1em;
	}
}
