*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#banner *:not(.actions) {
  margin:0 !important;
}

#playerLink h3 {
  color:#3E82C7;
  text-decoration:underline;
}

#playerQRCode { text-align:center; }

#playerQRCode img {
  width:156px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}

.actions {
  margin-top: 10px !important;
  position: relative;
}

.player {
  margin-top:20px;
  
  width:75%;
  min-height:300px;
  background:#EFEFEF;
  border-radius:5px;
  
  position:relative;
  left:50%;
  transform:translateX(-50%);
  
  padding: 0 0.5em 0.5em 0.5em;
  
  border: 2px solid #E0E0E0;
}

.player * { margin:0; }

.player h1, h2, h3, h4, h5, h6 { color: #000; }

.player h1 {
  font-size:1.5em;
  text-align:center;
  white-space: nowrap; 
  padding: 0 1em 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player h1:hover {
  overflow:visible;
  white-space: normal; 
}

.player h2 {
  font-size:4em;
  text-align:center;
}

.won .player { background: #1ACA30; }
.tie .player { background: #F9C03F; }

.willpowerControls {
  text-align:center;
}

#winner { display: none; }

.obsession, .obsession * {
  display:inline;
}

.obsession span:nth-child(2) {
  font-weight:normal;
}

.obsessionOptions div i {
  color:#BBB;
  cursor: pointer;
  font-size: 2em;
}

.obsessionOptions div select {
  font-size:0.75em;
}

.obsessionOptions div * {
  position:relative;
  left:25%;
  transform:translateX(-50%);
}

.obsessionInfo { 
  border: 1px solid #BBB;
  border-radius: 5px;
  padding: 0.5em;
}

.obsessionInfo.hide { display:none; }

.obsessionComplete div {
  text-align:center;
  padding-top: 0.5em !important;
}

i.approve:hover {
  color: green;
}

i.approve.true {
  color:green;
}

i.deny:hover {
  color: red;
}

.userInfo {
  margin-top:10px;
  width:90%;
  
  position:relative;
  left:50%;
  transform:translateX(-50%);
}

div.approveDeny {
  display:inline;
}

div.approveDeny.hidden { display:none;} 

div.approveDeny span {
  float: right;
}

.score {
  margin-top:10px;
  text-align:center;
  font-weight:normal;
}

.score * {
  display:inline;
}

.score h3 span {
  font-weight:bold;
}

.score li:hover {
  cursor: pointer;
}

.score li.add:hover {
  color:green;
}

.score li.minus:hover {
  color:red;
}

#gameHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 200% !important;
}

#playerLink h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
}

#gameShortCode {
  font-size: 1.5em;
  font-weight: bold;
}
}