/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body { overflow-x: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.arrow {
  display: none;
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: none;
  margin-left: none;
}

.sliderTile {
  width: 200px;
  text-align: center;
  color: white;
  transition: background .5s;
  vertical-align: middle;
  font-size: 2.5em;
}

.sliderTile p {
  padding-top: 8px;
}

.boxTitle {
  text-align: left;
  color: grey;
  font-variant: small-caps;
  margin-bottom: .4em;
}

#biddingIndicator {
  margin-bottom: .75em;
  //position: absolute;
  //left: -200px;
  //top: 0px;
}

#biddingIndicator div{
  padding: .5em;
  background: grey;
  //width: 150px;
  margin: auto;
  margin-bottom: .3em;
  border-radius: 5px;
  font-size: 2em;
  transition: background .3s;
  display: none;
}

#biddingIndicator div h1, #winner h3 {
  color:#FFF;
}

#biddingIndicator .highlighted {
  background: hsl(100, 40%, 30%);
  display: block;
}

#usernameInput {
  border: none;
  //border-bottom:1px solid #BBB;
  color: grey;
  font-size: 1em;
  //padding: .3em;
  background: rgba(255, 255, 255, 0);
  text-overflow: ellipsis;
}

#usernameInput:focus {
  outline: none;
}

#username {
  /* position: absolute;
  top: 5px;
  left: 5px; */
}

#winnerWrapper {
  //position: absolute;
  //left: 220px;
  //top: 0;
  margin-bottom: .3em;
  //width: 150px;
  margin: auto;
  top: 0px;
}

#winner {
  padding: .5em;
  background: grey;
  border-radius: 5px;
  color: white;
  font-size: 2em;
  width: 100%;
}

#title {
  text-align: center;
  margin: auto;
  margin-bottom: 1.0rem;
  margin-top: 2.3rem;
  font-weight: 600;
  font-size: 3em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: -.1rem;
}

.tableHeader {
  font-size: 2em;
}

#wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

#slider {
  display: inline-block;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}

@media screen and (min-width: 736px) {
  #biddingIndicator div, #winnerWrapper { width: 150px; }
  
  .hide-larger-than-small { 
    display: none !important;
  }
}

@media screen and (max-width: 736px) {
  #slider {
    width: 75%;
  }
}

.relative {
  position: relative;
}

table td {
  padding:0;
}

table tbody tr { border:0; }

.usernameBox {
  font-size:2.5em;
}
.usernameBox * { display: inline; }


.userPanel h1:nth-child(1) {
  padding:0 !important;
}

.userPanel {
  position: relative;
  left: 50%;
  transform: translateX(-40%);
}

.userPanel div {
  padding:0 !important;
}

#player {
  margin-top:20px;
}

#playerInfo h2 {
  font-size:1.5em;
}

#playerInfo input[type='text'] {
    width: 50%;
    background:rgba(0,0,0,0);
    border:0;
    border-radius:0;
    border-bottom:1px solid #BBB;
}

@media screen and (max-width: 736px) {
    #playerInfo input[type='text'] {
      width: 90%;
    }

    #usernameInput {
      width: 90%;
    }
    
    #header a:first-child {
      padding-right: 0.5em;
    }
    
    #header a {
      transform: translateX(-30%);
    }
}
#playerInfo div:not(#obsession) {
   margin-top:1.5em;
}


.hidden { display: none !important; }

#obsession { 
  margin-top:1.5em;
}

#obsession h3 {
    padding: 0.75em 0 0 1em;
    color: #000;
}

#skills ol li h3 {
  color: #000;
  padding: 0.75em 0 0 1em;
}

#points {
  color: #888 !important;
  font-size: 2em !important;
}

#points span.bolder {
  color: #444 !important;
}

#header a {
  font-size: 1.5em;
}