.arrow {
  width: 16px;
  height: 16px;
  margin: auto;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

body, html {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 70%;
  margin: auto;
}

#slider {
  width: 20%;
  margin: auto;
}
