/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.arrow {
	display: none;
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: none;
  margin-left: none;
}

.sliderTile {
  width: 200px;
  text-align: center;
  color: white;
  transition: background .5s;
  vertical-align: middle;
  font-size: 2.5em;
}

#biddingIndicator {
	margin-bottom: .75em;
	position: absolute;
	left: -200px;
	top: 0;
}

#biddingIndicator div{
	padding: .5em;
	background: grey;
	width: 150px;
	margin: auto;
	margin-bottom: .3em;
	border-radius: 10px;
	color: white;
	font-size: 2em;
	transition: background .3s;
}

#biddingIndicator .highlighted {
	background: hsl(100, 40%, 30%);
}

#usernameInput {
	text-align: center;
	border: none;
	color: grey;
	font-size: 1em;
	margin-bottom: 1em;
}

#winner {
	padding: .5em;
	background: grey;
	width: 150px;
	margin: auto;
	margin-bottom: .3em;
	border-radius: 10px;
	color: white;
	font-size: 2em;
	position: absolute;
	left: 220px;
	top: 0;
}

#title {
  text-align: center;
  margin-bottom: .5rem;
  margin-top: 2.3rem;
	font-weight: 500;
  font-size: 3em;
	color: grey;
	text-transform: uppercase;
}

.tableHeader {
  font-size: 2em;
}

#wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

#slider {
  display: inline-block;
}

.relative {
	position: relative;
}
