p
  | Meet&nbsp;
  strong John!&nbsp;
  | He&apos;s your average everyday Joe. And by average we mean completely and utterly incompetent and insane. John is an idiot. He can&apos;t do much on his own.
p
  | John needs help from the&nbsp;
  strong voices&nbsp;
  | in his head to do pretty much anything. Here&apos;s the catch. The voices in John&apos;s head are trying to get John to do something that they want.
  | The best part? The voices can make him want to do anything. We really do mean&nbsp;
  strong ANYTHING
  | . Seriously. We once had John lick things. Constantly.
p
  | The game starts when John wakes up. Where is up to the game master (GM). It could be anywhere. In a nice comfy bed in his New York penthouse suite.
  | Maybe he wakes up on an airplane. Heck, even North Korea. From that point on, each&nbsp;
  strong test for control&nbsp;
  | determines what voices controls John.
.box
  p
    | Read the&nbsp;
    a(href="/rules") rules
    | &nbsp;to get started.